<h1 class="display-4">Please enter your information</h1>

<%= render 'form', pet_sitter: @pet_sitter %>

<p>By clicking create pet sitter you agree to the terms of (generic legal disclaimer here)</p>

<button type="button" class="btn btn-outline-danger"> <a class="link-danger" <%= link_to 'Cancel', pet_sitters_path %> </a></button>
